.scratch
*.swp

*.gcode

/src/beatsrv/beatsrv
/src/beatsrv/beatsrv-main
/src/beatsrv/beatsrv_s16le

/src/inner-light-drive/inner-light-drive
/src/inner-light-drive/inner-light-map

/src/inner-light-generator/cfgtest
/src/inner-light-generator/inner-light-generator

/src/test/inner-light-generator.pid
/src/test/inner-light-testdrive
/src/test/innerlight.led
/src/test/innerlight.ini

/src/mode-manager/rando-inp-encoder
/src/mode-manager/rando-inp
/src/mode-manager/mode-manager

/src/inner-light-driver/

/html/inner-light-generator.pid
